{% extends 'base.html' %}
{% block title %}Alumni of Session {% endblock %}

{% block content %}
<h2 class="text-center text-danger">Alumni of Session {{session.year}}</h2>
    {% for alumnus in alumni %}
        <div class="card" style="width: 18rem;">
            {% if alumnus.picture %}
                <img class="card-img-top" src="{{ alumnus.picture.url }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="/path/to/default/image.jpg" alt="Default image cap">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ alumnus.name }}</h4>
                <p class="card-text">{{ alumnus.current_position }}</p>
                
                {% if alumnus.linkedin %}
                    <a href="{{ alumnus.linkedin }}" class="btn btn-primary" target="_blank">LinkedIn</a>
                {% endif %}
                {% if alumnus.email %}
                    <a href="mailto:{{ alumnus.email }}" class="btn btn-info mx-2 " target="_blank">Email</a>
                {% endif %} 
            </div>
        </div>
        <br>
    {% endfor %}  
    <a href="{% url 'session_list' %}">Back to Sessions</a>
{% endblock %}
