{% extends 'base1.html' %}
{% load static %} 
{% block title %}Faculty {{ session.year }}{% endblock %}

{% block content %}

<div class="container mx-auto px-5 py-8">
    <div class="flex flex-col lg:flex-row gap-6">

        <section class="w-full">
            <h3 class="text-2xl md:text-4xl pb-5 font-bold text-center text-gray-800">Faculty Members</h3>
            <div class="flex justify-center">
                <div class="bg-[#EFEBE3] shadow-xl rounded-lg p-2 transform hover:scale-105 w-96 py-6 transition text-center">
                    <img src="{% static 'image/kader_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Prof. Dr. Md Fazlul Kader</h4>
                        <p class="text-gray-600 text-sm mt-1">Chairman <br>
                            Department of Electrical and Electronic Engineering <br>
                            University of Chittagong
                            </p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:f.kader@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/abc.khan" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 md:gap-6 mt-6">
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/jamal_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Jamal Uddin Ahamed</h4>
                        <p>Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:ahamed.jamal@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/rouf_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Hasan Khaled Rouf</h4>
                        <p>Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:hasan.rouf@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/alim_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Mohammad A. Alim</h4>
                        <p>Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:mohammadabdulalim@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/tanvir_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Kazi Tanvir Ahmmed</h4>
                        <p>Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:tanvir@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/morshad_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Md Murshadul Hoque</h4>
                        <p>Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:m.hoque@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/arif_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Arif Iftekhar Mahmood</h4>
                        <p>Associate Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:xyz@example.com" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/shah_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Md. Shah Alam</h4>
                        <p>Associate Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:shah.alam@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/sabrina_sir.png' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Sabrina Alam</h4>
                        <p>Associate Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:xyz@example.com" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/micro_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Dr. Mohammad Shuhrawardy</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:mswardy@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>

                
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/abu_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">S M Abu Zahed Chowdhury</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:zahed_apece@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/ariful_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Ariful Islam</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:ariful@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/sabuj_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Sabuj Chowdhury</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:sabuj.apece@gmail.com" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/kuri_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Saumitra Kumar Kuri</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:skkuri@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/didar_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Md. Didarul Alam</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:xyz@example.com" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/mshah_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Mohammad Shah</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:xyz@example.com" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/alom_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Alamgir Hossan</h4>
                        <p>Assistant Professor</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:ah@knights.ucf.edu" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>


                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/shorif_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Md Shariful Islam</h4>
                        <p>Embedded System Engineer, RexoIT</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:xyz@example.com" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>

                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/fahim_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Tahasin Ahmed Fahim</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:tahasin@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/fahim_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Tahasin Ahmed Fahim</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:tahasin@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>

                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/jahed_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Mohammad Jahed</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:jahed.eee@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/sangita_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Sangita Rani Basu</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:sangita@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/juel_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Jewel Dey</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:jewel@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/sadia_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Sadia Sultana</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:Sadia@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/munna_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Md. Ali Munna</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:mdalimunna.eee@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-[#EFEBE3] py-7 shadow-xl rounded-lg p-2 transform hover:scale-105 transition">
                    <img src="{% static 'image/israt_sir.jpg' %}" alt="Faculty Member" class="w-24 h-24 mx-auto rounded-full object-cover">
                    <div class="text-center mt-2">
                        <h4 class="text-md font-bold text-gray-900">Israt Jahan</h4>
                        <p>Lecturer</p>
                        <div class="grid grid-cols-2 gap-2 px-10">
                            <a href="mailto:israt@cu.ac.bd" class="block mt-2 bg-orange-600 text-white py-2 px-3 rounded-lg text-sm hover:bg-yellow-600 transition">
                                Email
                            </a>
                            <a href="https://facebook.com/xyz" target="_blank" class="block mt-2 bg-blue-500 text-white py-2 rounded-lg text-sm hover:bg-yellow-600 transition">
                                LinkedIn
                            </a>
                        </div>
                    </div>
                </div>




            </div>
        </section>
    </div>
</div>

{% endblock %}
