{% extends "base1.html" %} 
{% block content %} 
{% load static %}



<div class="md:container mx-auto px-4 py-8 pb-56">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Faculty Members -->
      <div class="bg-[#EFEBE3] p-4 rounded-lg shadow-lg text-center hover:scale-105 hover:shadow-lg transition-transform duration-1000">
          <div class="flex justify-center h-56">
              <img class="max-h-full object-contain rounded-lg" src="{% static './image/teacher.png' %}" alt="Teacher">
          </div>
          <a href="{% url "faculty_list1" %}" class="mt-3 text-2xl font-bold text-blue-700 hover:underline block">Faculty Members</a>
      </div>
      <!-- Alumni -->
      <div class=" bg-[#EFEBE3] p-4 rounded-lg shadow-md text-center hover:scale-105 hover:shadow-lg transition-transform duration-1000">
          <div class="flex justify-center h-56">
              <img class="max-h-full object-contain rounded-lg" src="{% static './image/alumni.png' %}" alt="Alumni">
          </div>
          <a href="{% url "alumni_list1" %}" class="mt-3 text-2xl font-bold text-blue-700 hover:underline block">Alumni</a>
      </div>
      <!-- Book Share -->
      <div class="bg-[#EFEBE3] p-4 rounded-lg shadow-md text-center hover:scale-105 hover:shadow-lg transition-transform duration-1000">
          <div class="flex justify-center h-56">
              <img class="max-h-full object-contain rounded-lg" src="{% static './image/book_share.png' %}" alt="Book Share">
          </div>
          <a href="{% url "available_book" %}" class="mt-3 text-2xl font-bold text-blue-700 hover:underline block">Share Resource</a>
      </div>
      <!-- All Documents -->
      <div class="bg-[#EFEBE3] p-4 rounded-lg shadow-md text-center hover:scale-105 hover:shadow-lg transition-transform duration-1000">
          <div class="flex justify-center h-56">
              <img class="max-h-full object-contain rounded-lg" src="{% static './image/books-removebg.png' %}" alt="Books">
          </div>
          <a href="{% url "semester_list" %}" class="mt-3 text-2xl font-bold text-blue-700 hover:underline block">All Documents</a>
      </div>
      <!-- My Notes -->
      <div class="bg-[#EFEBE3] p-4 rounded-lg shadow-md text-center hover:scale-105 hover:shadow-lg transition-transform duration-1000">
          <div class="flex justify-center h-56">
              <img class="max-h-full object-contain rounded-lg" src="{% static './image/personal_notes.png' %}" alt="Personal Notes">
          </div>
          <a href="{% url "my_semester" %}" class="mt-3 text-2xl font-bold text-blue-700 hover:underline block">My Notes</a>
      </div>
  </div>
</div>



  
{% endblock %}
