{% extends 'base1.html' %} {% block title %}Courses in {{ semester.name }} {% endblock %} 
{% block content %}
<div class="container mx-auto mt-10 px-4">
  <h1 class="text-gray-700 text-center text-4xl font-bold mb-6">
    All Courses of the {{ semester.name }} 
  </h1>
  <ul
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 text-center text-xl font-bold"
  >
    {% for course in courses %}
    <a
      class="block px-6 py-4 bg-violet-700 text-white rounded-lg hover:bg-blue-600 shadow-md"
      href="{% url 'my_course_detail' course.id %}"
      >{{ course.name }}</a
    >
    {% endfor %}
  </ul>
</div>
{% endblock %}